<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Update List</h1>
        <form method="post">
          {% csrf_token %}
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" />
          <button>Update</button>
        </form>
      </div>
    </main>
  </body>
</html>
